<h1>WordPress Clone</h1>

<h2>Posts this month</h2>

<% if user_signed_in? %>
  <header>
    Hello, <%= current_user.name %>!
  </header>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3>
        <a href="/posts/<%= post.id %>">
          <%= post.title %>
        </a>
      </h3>
      <small>By: <%= post.author %> </small>
    </li>
  <% end %>
</ul>
